@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Lexend:wght@100;200;300;400&family=Ubuntu:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --swiper-navigation-color: red;
} */
/* 
.swiper {
  margin: 0;
  height: 350px;
}
*/
/* .swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  border: 0;
}
*/
.swiper-button-prev,
.swiper-button-next {
  color: #4b6bfc !important;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-images {
  height: 80%;
  width: 100%;
}

.swiper-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0 0 0;
}

.swiper-thumbs swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  &__list {
    visibility: hidden;
    background-color: #4b6bfc !important;
    height: 0;
    transition: visibility .5s ease-in-out, height .5s ease-in-out;

    &--open {
      visibility: visible;
      height: 20rem;
      transition: visibility .5s ease-in-out, height .5s ease-in-out;
    }
  }
}
